# Database
DB_HOST=ssafy-mysql-db.mysql.database.azure.com
DB_PORT=3306
DB_NAME=S14P22A105
DB_USERNAME=S14P22A105
DB_PASSWORD=비밀번호입력

# Kakao OAuth
KAKAO_CLIENT_ID=카카오앱REST_API키
KAKAO_REDIRECT_URI=http://localhost:3000/login/callback

# JWT
JWT_SECRET=32자이상의시크릿키입력
